base:
  dataset:
  dataset_dir:
  tasksets_config:
  backbone:
  backbone_config:
  model:
  model_config:
  buffer_config:
  checkpoint:
  batch_size:
  eval_batch_size:
  batches_per_allreduce:
  dataloader_workers:
  epochs:
  lr:
  momentum:
  optimizer_regime:
  no_cuda:
  seed:
  log_interval:
  fp16_allreduce:
  use_adasum:
  gradient_predivide_factor:
  weight_decay:
  results_dir:
  save_dir: