method: bayes
metric:
  name: continual_val_loss_ph
  goal: minimize
parameters:
  lr:
    min: 0.001
    max: 0.004
  batch-size:
    values: [16, 24, 32, 48, 64]
  num-representatives:
    values: [1, 4, 8, 12, 16, 24, 32, 48, 64]
  num-candidates:
    values: [1, 4, 8, 12, 16, 24, 32]
  rehearsal-ratio:
    values: [5, 10, 20, 30]
command:
  - python
  - sweep.py
  - ${args}